.order {
  padding: 40px;
  margin: 20px;
  border: 1px solid lightgray;
  background-color: #ffffff;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .order {
    margin: 0px 10px;
    padding: 10px;
  }

  .order__id {
    margin: 10px 0px;
    position: unset;
  }

  .order__total {
    text-align: left;
  }
}
